.currentWeather {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;

  .currentInfo {
    display: flex;
    align-items: center;
  }

  .currentWeatherDescription {
    text-align: center;
    margin: 0.2rem 0;
  }

  .currentWeatherImage {
    width: 80px;
    height: 80px;
  }

  .currentTemperature {
    font-size: 5rem;
    font-weight: bold;
    margin: auto 0;
    color: #535353;
  }

  .currentWeatherInfo {
    p {
      margin: 0.2rem 0;
    }
  }

  .currentWindSpeedImage {
    width: 20px;
    height: 20px;
  }

  .currentHumidityImage {
    width: 20px;
    height: 20px;
  }
}

/* 미디어 쿼리 */
@media (max-width: 1024px) {
  .currentWeatherImage {
    width: 75px !important;
    height: 75px !important;
  }

  .currentTemperature {
    font-size: 4rem !important;
  }

  .currentWindSpeedImage {
    width: 15px !important;
    height: 15px !important;
  }

  .currentHumidityImage {
    width: 15px !important;
    height: 15px !important;
  }
}

@media (max-width: 600px) {
  .currentWeatherImage {
    width: 70px !important;
    height: 70px !important;
  }

  .currentTemperature {
    font-size: 3rem !important;
  }

  .currentWindSpeedImage {
    width: 10px !important;
    height: 10px !important;
  }

  .currentHumidityImage {
    width: 10px !important;
    height: 10px !important;
  }
}
