@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slickSlider {
  .slickList {
    transition: transform 0.11s ease;
  }
  .slickPrev,
  .slickNext {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 1;
  }

  .slickPrev {
    left: -5px;
  }

  .slickNext {
    right: -5px;
  }

  .slickPrev:before,
  .slickNext:before {
    color: rgb(111, 111, 111);
  }

  .slickDots {
    bottom: -30px;
    li button:before {
      color: rgba(255, 255, 255, 0);
    }
    li.slickActive button:before {
      color: rgba(255, 255, 255, 0);
    }
  }

  .slickActive {
    width: 160px !important;
    justify-content: center;
  }
}

.hourlyGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.hourlyCard {
  overflow: hidden;
  width: 150px !important;
  height: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  transition: transform 0.3s ease;
}

.currentTime {
  border: 2px solid #bebebe;
  border-radius: 20px;
}

.weatherImage {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.hourlyInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 5px 0;
}

.weather {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.time {
  font-size: 12px;
  color: #999;
}

/* 미디어 쿼리 */
@media (max-width: 1024px) {
  .hourlyCard {
    width: 80px !important;
    height: 140px;
  }

  .slickPrev,
  .slickNext {
    width: 30px;
    height: 30px;
  }

  .slickPrev:before,
  .slickNext:before {
    font-size: 16px;
  }

  .time {
    font-size: 10px;
    color: #999;
  }

  .slickActive {
    width: 120px !important;
  }

  .slickList {
    height: 180px;
  }
}

@media (max-width: 600px) {
  .hourlyCard {
    width: 60px !important;
    height: 140px;
  }

  .slickPrev,
  .slickNext {
    width: 25px;
    height: 25px;
  }

  .slickPrev:before,
  .slickNext:before {
    font-size: 14px;
  }

  .time {
    font-size: 8px;
    color: #999;
  }

  .slickActive {
    width: 100px !important;
  }
}
