.flex-structure {
  display: flex;
  align-items: center;
}
.footer-container {
  @extend .flex-structure;
  margin-top: auto;
  justify-content: space-between;
  height: 12vh;
  padding: 0 5%;
  background-color: black;
  color: white;
}

.right-container {
  @extend .flex-structure;
}

// 작은 화면
@media (max-width: 600px) {
  .footer-container {
    font-size: 0.8rem;
  }
}

// 중간 크기 화면
@media (max-width: 1024px) {
  .footer-container {
    font-size: 0.9rem;
  }
}
