@use "../mixins/flex";

.recommend-statement--container {
  @include flex.justify(column, center);
  height: 5%;
  padding: 2%;
  // background-color: rgb(255, 255, 255);
  background-color: rgb(238, 246, 255);
  border-radius: 10px;
}

.recommend-statement {
  font-weight: 600;
  color: rgb(58, 88, 186);
}
