.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.weather-state--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 7%;
  padding: 3%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.weather-left-state {
  @extend .flex-row;
  justify-content: space-between;
  align-items: center;
  gap: 1%;
  width: 20%;
}

.weather-icon {
  width: 58px;
  height: 58px;
}

.temperature-state,
.weather-right-state {
  @extend .flex-col;
  gap: 10px;
}

.temp {
  font-size: 1.25rem;
}
