@use "../mixins/flex";

.weather-state--container {
  @include flex.justify-align(row, space-between, center);
  box-sizing: border-box;
  height: 7%;
  padding: 3%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.weather-left-state {
  @include flex.justify-align(row, space-between, center);
  gap: 1%;
  width: 20%;
}

.weather-icon {
  width: 70px;
  height: 70px;
}

.temperature-state,
.weather-right-state {
  @include flex.direction(column);
  gap: 10px;
}

.temp {
  font-size: 1.25rem;
}
