@use "../mixins/flex";

.weatherState__container {
  @include flex.justify-align(row, space-between, center);
  box-sizing: border-box;
  height: 7%;
  padding: 3%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.weatherLeftState {
  @include flex.justify-align(row, space-between, center);
  gap: 1%;
  width: 20%;
}

.weatherIcon {
  width: 70px;
  height: 70px;
}

.temperatureState,
.weatherRightState {
  @include flex.direction(column);
  gap: 10px;
}

.temp {
  font-size: 1.25rem;
}
