@use "../mixins/flex";

.footer-container {
  @include flex.justify-align(row, space-between, center);
  position: relative;
  margin-top: auto;
  height: 12vh;
  padding: 0 5%;
  background-color: black;
  color: white;
}

.right-container {
  @include flex.align;
}

// 작은 화면
@media (max-width: 600px) {
  .footer-container {
    font-size: 0.8rem;
  }
}

// 중간 크기 화면
@media (max-width: 1024px) {
  .footer-container {
    font-size: 0.9rem;
  }
}
