@use "../mixins/flex";

.headerContainer {
  @include flex.justify(row, space-around);
  align-items: center;
  height: 12vh;
}

.navigationContainer {
  @include flex.justify-align(row, space-around, center);
  gap: 1.5rem;
  width: 30%;
}

.activeTab,
.tab {
  text-decoration: none;
  color: inherit;
}

.activeTab {
  border: 1.5px solid black;
  border-radius: 35px;
  padding: 2% 7%;
  font-weight: 600;
}

// 모바일 화면
@media (max-width: 600px) {
  .navigationContainer {
    font-size: 0.6rem;
    width: 40%;
  }
}

// 중간 크기 화면
@media (max-width: 1024px) {
  .navigationContainer {
    font-size: 0.9rem;
  }
}
