@use "../mixins/flex";

.recommendation-container {
  flex: 1;
  @include flex.justify(column, center);
  gap: 15px;
  background-color: rgb(250, 250, 250);
  border-radius: 30px;
  height: 75%;
  margin: 5%;
}

.statement {
  @include flex.align;
  font-size: 1.25rem;
  font-weight: 600;
  color: #4b4b4b;
  gap: 10px;
  padding: 3% 5%;
  margin: 0;
}

.recommended-food--container {
  border-radius: 10px;
  padding: 5%;
  height: 40%;
  background-color: rgb(247, 244, 248);
}

.more-food--container {
  @include flex.align;
  padding: 3% 5%;
  gap: 10px;
  font-weight: 500;
}

.more-icon {
  cursor: pointer;
}

// 작은 화면
@media (max-width: 600px) {
  .recommendation-container {
    width: 80%;
    padding: 2%;
  }
  .statement {
    font-size: 0.8rem;
  }
  .recommended-food--container,
  .more-food--container {
    font-size: 0.7rem;
  }
  .more-icon {
    width: 20px;
    height: 20px;
  }

  .statement,
  .more-food--container {
    padding: 1% 3%;
  }
}

// 중간 크기 화면
@media (max-width: 1024px) {
  .recommendation-container {
    margin: 3%;
  }

  .statement {
    font-size: 1.1rem;
  }
  .recommended-food--container,
  .more-food--container {
    font-size: 0.9rem;
  }

  .more-icon {
    width: 25px;
    height: 25px;
  }
}
