@use "../mixins/flex";

.recommendationContainer {
  flex: 1;
  @include flex.justify(column, center);
  gap: 15px;
  background-color: rgb(250, 250, 250);
  border-radius: 30px;
  height: 75%;
  margin: 5%;
}

.statement {
  @include flex.align;
  font-size: 1.25rem;
  font-weight: 600;
  color: #4b4b4b;
  gap: 10px;
  padding: 3% 5%;
  margin: 0;
}

.recommendedFood__container {
  border-radius: 10px;
  padding: 5%;
  height: 40%;
  background-color: rgb(247, 244, 248);
}

.moreFood__container {
  @include flex.align;
  padding: 3% 5%;
  gap: 10px;
  font-weight: 500;
}

.moreIcon {
  cursor: pointer;
}

// 작은 화면
@media (max-width: 600px) {
  .recommendationContainer {
    width: 80%;
    padding: 2%;
  }
  .statement {
    font-size: 0.8rem;
  }
  .recommendedFood__container,
  .moreFood__container {
    font-size: 0.7rem;
  }
  .moreIcon {
    width: 20px;
    height: 20px;
  }

  .statement,
  .moreFood__container {
    padding: 1% 3%;
  }
}

// 중간 크기 화면
@media (max-width: 1024px) {
  .recommendationContainer {
    margin: 3%;
  }

  .statement {
    font-size: 1.1rem;
  }
  .recommendedFood__container,
  .moreFood__container {
    font-size: 0.9rem;
  }

  .moreIcon {
    width: 25px;
    height: 25px;
  }
}
