.recipeDetail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.recipeDetail__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.recipeDetail__contain {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.recipeDetail__contain.expanded {
  max-height: 1000px; /* 충분히 큰 값으로 설정하여 내용이 모두 보이도록 */
}

.recipeDetail__image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.recipeDetail__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipeDetail__name {
  font-size: 2.5rem;
  margin: 10px 0;
}

.recipeDetail__subtitle {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 10px;
}

.recipeDetail__meta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px solid #ccc; /* 보더 색상 변경 */
  border-radius: 15px; /* 보더 레디우스 변경 */
  padding: 15px 25px; /* 패딩 조정 */
  background-color: #f0f4f8; /* 배경색 변경 */
  gap: 15px; /* 갭 조정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  font-size: 1.1rem; /* 폰트 크기 조정 */
  font-weight: 500; /* 폰트 두께 조정 */
  color: #333; /* 폰트 색상 변경 */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 트랜지션 추가 */
}

.recipeDetail__author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.recipeDetail__authorImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.recipeDetail__toggleButtons {
  border-left: 1px solid #ccc; /* 왼쪽 보더 색상 변경 */
  border-right: 1px solid #ccc; /* 오른쪽 보더 색상 변경 */
  border-top: 1px solid #ccc; /* 아래쪽 보더 색상 변경 */
  border-radius: 15px 15px 0px 0px;
  margin: -9px 79px;
}

.recipeDetail__body {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.favoriteButton,
.toggleButton {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.favoriteButton:hover,
.toggleButton:hover {
  background-color: #ff4500;
}

.ingredientsList,
.stepsList {
  list-style: none;
  padding: 0;
}

.ingredientsList li,
.stepsList li {
  margin-bottom: 10px;
}

.stepImage {
  width: 30%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

.recipeStep {
  display: flex;
  align-items: center;
  gap: 20px; /* 설명과 사진 사이의 간격 조정 */
  padding: 10px;
  margin-bottom: 10px;
}
