.recipeDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0; /* 회색 배경 */
}

.recipeDetail__container {
  background-color: #fff; /* 흰색 배경 */
  padding: 20px;
  width: 100%;
  max-width: 1000px;
}

// 조리순서 섹션 스타일
.recipeDetail__sectionSteps {
  margin-top: 20px;
  padding: 20px 50px;
}

.stepsList {
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: step-counter;
}

.recipeStep {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 30px;
  padding: 20px;
}

.stepNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #1470af;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50%;
  flex-shrink: 0;
}

.stepContent {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 40px;
}

.stepDescription {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.5;
}

.stepImage {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

// 추천 음식 섹션 스타일
.recommendedFoods {
  padding: 20px;
}

.recommendedFoods h3 {
  font-size: 1.8rem;
  margin-bottom: 60px;
  color: #333;
  text-align: center;
}

.recommendedFoodsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.recommendedFoodWrapper {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  margin-bottom: 60px;
}

.recommendedFood {
  position: relative; /* 이미지 위치 조정 기준 */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 60px 20px 20px; /* 상단 여백: 이미지가 걸칠 공간 확보 */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 145px; /* 최소 높이 설정 */
  width: 170px;
  overflow: visible;
}

.recommendedFoodImage {
  position: absolute;
  top: 0; /* 카드의 맨 위 기준 */
  left: 50%;
  transform: translate(-50%, -50%); /* 수직으로 카드에 걸치도록 조정 */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #8eb6db;
  background-color: #ff6347;
  z-index: 1;
}

.recommendedFood h4 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
}

.recommendedFood p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.4;
}
